header {
  width: 100vw;
  height: 4rem;
  padding: 0 2rem;
  display: grid;

  grid-template-columns: 1fr 2fr;
  align-items: center;
  position: relative;
  z-index: 200;
}

header .logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-color-lightest);
}

header nav {
  justify-self: end;
}

header nav a {
  color: var(--text-color-lightest);
  text-decoration: none;
  margin: 0 1.2rem;
}

header nav i {
  color: var(--text-color-lightest);
}

header .burger {
  display: none;
}
