header {
  height: 4rem;
  width: 100%;
  padding: 0 2rem;
  display: grid;

  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 200;
}

header.toFixed {
  position: fixed;
  background-color: var(--primary-color);
  box-shadow: 0 2px 0.5rem rgba(0, 0, 0, 0.3);
  animation: headerFixed 0.4s ease-in-out forwards;
}

header.removeFixed {
  position: fixed;
  background-color: var(--primary-color);
  box-shadow: 0 2px 0.5rem rgba(0, 0, 0, 0.3);
  animation: headerRemoveFixed 0.2s ease forwards;
}

@keyframes headerFixed {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes headerRemoveFixed {
  to {
    transform: translateY(-4rem);
  }
}

header .logo {
  font-size: 1.2rem;
  font-weight: 600;
}

header .logo a {
  text-decoration: none;
  color: var(--text-color-lightest);
}

header nav {
  justify-self: end;
}

header nav a {
  color: var(--text-color-lightest);
  text-decoration: none;
  margin: 0 1.2rem;
}

header nav i {
  color: var(--text-color-lightest);
}

header .burger {
  display: none;
}
