.service {
  padding-top: 6.6rem;
}

.service-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1.9rem;
  row-gap: 1.7rem;
}

@media (max-width: 56.25rem) {
  .service-items {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: unset;
  }
}

@media (max-width: 35.75rem) {
  .service-items {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    column-gap: unset;
    width: 80vw;
  }
}