.case-item {
  width: calc(98.8vw / 4);
  height: 17vw;
  overflow: hidden;
}

.case-item img {
  height: 100%;
}

@media (max-width: 56.25rem) {
  .case-item {
    width: calc(100vw / 3);
    height: 20vw;
  }
}

@media (max-width: 35.75rem) {
  .case-item {
    width: calc(100vw / 2);
    height: 30vw;
  }
}

@media (max-width: 23.5rem) {
  .case-item {
    width: calc(100vw);
    height: 60vw;
  }
}
