.footer-menu {
  text-align: center;
}

.footer-menu .menu-items li {
  list-style: none;
}

.footer-menu .menu-items li a {
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--text-color-lightest);
}

@media (max-width: 56.25rem) {
  .footer-menu {
    justify-self: end;
  }
}


@media (max-width: 35.75rem) {
  .footer-menu {
    justify-self: center;
  }
}