.activity-card {
  padding: 1.2rem;
  box-shadow: 0px 0px 1.2rem rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.activity-card:hover {
  transform: translateY(-1rem) scale(1.05);
  box-shadow: 0px 0px 1.6rem rgba(0, 0, 0, 0.1);
}

.activity-img {
  height: 12.8rem;
  margin: -1.2rem;
  margin-bottom: 0;
  overflow: hidden;
}

.activity-img img {
  min-height: 15rem;
  object-fit: cover;
}

.activity-card .meta {
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  color: var(--text-color-light-gray);
  font-size: 0.6rem;
  display: flex;
}

.activity-card .meta i {
  margin-right: 0.6rem;
}

.activity-card .meta > p:last-child {
  margin-left: 1.8rem;
}

.activity-card .activity-title {
  color: var(--text-color-dark);
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
}

.activity-card article {
  color: var(--text-color-gray);
  /* 字间距 */
  letter-spacing: 0.027rem;
  line-height: 1.2rem;
}

.activity-card .read-more-btn {
  padding: 0.4rem 0.5rem;
  margin-top: 1.2rem;
  background-color: var(--primary-color);
  border: 0;
  outline: none;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
}
