.data-section {
  max-width: unset;
  padding: 0;
}

.data-pieces {
  width: 98.8vw;
  height: 12.8rem;
  background-image: url(../../resources/images/adult-business-computer-contemporary-380769.jpg);
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 11rem));
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 20;
}

.data-pieces::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--backdrop-color);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.data-piece {
  width: 12.5rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  color: white;
  z-index: 40;
}

.data-piece i.fa {
  font-size: 2.2rem;
}

.data-piece .num {
  margin-top: 0.4rem;
  font-size: 2.1rem;
  font-weight: 600;
}

.data-piece .data-desc {
  font-size: 0.9rem;
}
