.feature {
  display: grid;
  grid-template-areas:
    "icon title"
    "icon content";
  grid-template-columns: 3rem 1fr;
  grid-template-rows: 1fr 3fr;
}

.feature i.fa {
  grid-area: icon;
  font-size: 1.7rem;
  color: var(--primary-color);
}

.feature .feature-title {
  grid-area: title;
  font-size: 0.9rem;
  color: var(--text-color-darker);
}

.feature .feature-content {
  grid-area: content;
  color: var(--text-color-gray);
  margin-top: 0.4rem;
}
